<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>世纪开元.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>066B28AE1C7445B4003EC210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>066B28CA1C7445B4003EC210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>066B28D51C7445B4003EC210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
